body {
  font-family: "Poppins", sans-serif;
  background: green;
  color: #2d3436;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
  width: 360px;
  text-align: center;
}

.login-card h1 {
  color: #2c3e50;
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1rem;
}

.login-card button {
  width: 100%;
  background: #2980b9;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #34db58;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}


.container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 90%;
  margin: 40px auto;
}

header h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}


.form-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: #9fb929;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #3498db;
}


.search-section {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

#contactList {
  list-style: none;
  padding: 0;
}

#contactList li {
  background: #ecf0f1;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contactList li button {
  background: #e74c3c;
  width: 70px;
}

#contactList li button:hover {
  background: #ff7675;
}


.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.bill-box {
  background: #f1f2f6;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.print-btn {
  width: 100%;
  background: #27ae60;
}

.print-btn:hover {
  background: #2ecc71;
}


.nav-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.nav-buttons button {
  flex: 1;
}
